#contact {
  padding: 60px 0 4px 0;
  height: 1000px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  background: linear-gradient(to bottom, hsl(50, 100%, 71%), hsla(50, 100%, 71%, 0.473)), url(../img/architect.svg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#contact .containerTitle {
  height: 12%;
  flex-direction: row;
  justify-content: space-evenly;
}

.contenedorFooter {
  height: 80%;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: auto;
}

.contentenidoFooter {
  text-align: center;
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.external {
  font-size: 16px;
  color: black;
}

.external img {
  height: 22px;
  width: 22px;
}

.external p {
  font-size: 15px;
}

.firma {
  text-align: center;
  height: 10%;
  width: 100%;
  font-size: 14px;
  color: black;
  padding-top: 20px;
  transform: translateY(40px);
  -webkit-transform: translateY(40px);
  -moz-transform: translateY(40px);
  -ms-transform: translateY(40px);
  -o-transform: translateY(40px);
}

@media screen and (min-width:480px) {
  .external img {
    height: 24px;
    width: 24px;
  }

  .external p {
    font-size: 16px;
  }

  .external p {
    font-size: 15px;
  }
}

@media screen and (min-width:768px) {
  #contact {
    height: 600px;
  }

  #contact .containerTitle {
    height: 20%;
    width: 40%;
    padding-top: 0px;
    margin: 0px 0 20px 0;
  }

  .contenedorFooter {
    flex-direction: row;
    width: 100%;
  }

  .contentenidoFooter {
    height: 80%;
    width: 36%;
  }

  .external {
    width: 240px;
    display: flex;
    justify-content: flex-start;
  }

  .external:hover {
    background-color: #3d88a5;
  }

  .external p {
    font-size: 15px;
    display: flex;
    align-items: center;
    transform: translateX(12px);
    -webkit-transform: translateX(12px);
    -moz-transform: translateX(12px);
    -ms-transform: translateX(12px);
    -o-transform: translateX(12px);
}

  .external img {
    height: 26px;
    width: 26px;
  }

  .firma {
    font-size: 15px;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
  }
}

@media screen and (min-width:1080px) {
  .external {
    width: 300px;
  }

  .external p {
    font-size: 18px;
    line-height: 30px;
  }

  .external img {
    height: 30px;
    width: 30px;
  }

  .firma {
    font-size: 18px;
  }
}