#home {
  padding: 0;
  height: 650px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  background: #f7f0f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerSlider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.slideShow {
  width: 100%;
  height: 100%;
  display: flex;
}

.slide {
  border: 2px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  text-align: center;
  justify-content: space-evenly;
  padding: 20px 0;
  background: #f7f0f5;
}

.slide:nth-child(1) {
  background: linear-gradient(to bottom, #040404b4, #0404049c), url(../img/plato1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.slide:nth-child(2) {
  background: linear-gradient(to bottom, #040404b4, #0404049c), url(../img/plato2.png);
  background-repeat: no-repeat;
  background-size: cover;

}

.slide:nth-child(3) {
  background: linear-gradient(to bottom, #040404b4, #0404049c), url(../img/plato3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.slide:nth-child(4) {
  background: linear-gradient(to bottom, #040404b4, #0404049c), url(../img/plato1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.flag {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

.slide h1 {
  font-size: 30px;
  margin-bottom: 16px;
  font-weight: bolder;
  color: #f7f0f5;
  width: 80%;
  line-height: 38px;
}

.slide p {
  font-size: 20px;
  line-height: 22px;
  color: #f7f0f5;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
}

.buttonOrder,
.buttonMenu,
.buttonReservation {
  padding: 6px;
  width: 120px;
  font-size: 16px;
  text-align: center;
  color: #f7f0f5;
  border: 2px solid #f7f0f5;
}

.buttonMenu {
  background: hsla(354, 86%, 46%, 0.80);
  border: 2px solid #040404;
  color: #040404;
}

.buttonOrder {
  background: hsla(209, 88%, 68%, 0.80);
  color: #040404;
  border: 2px solid #040404;
}

.buttonReservation {
  background: hsla(0, 0%, 2%, 0.70);
}


@media screen and (min-width:480px) {
  .slide h1 {
    font-size: 38px;
    line-height: 40px;
  }

  .slide p {
    font-size: 18px;
  }


  .flag {
    width: 60px;
    height: 60px;
  }

  .buttonOrder,
  .buttonMenu,
  .buttonReservation {
    padding: 10px;
    width: 140px;
    font-size: 18px;
  }
}

@media screen and (min-width:768px) {
  #home {
    height: 850px;
  }

  .slide h1 {
    font-size: 60px;
  }

  .slide p {
    font-size: 38px;
    line-height: 36px;
  }

  .flag {
    width: 80px;
    height: 80px;
  }

  .buttonOrder,
  .buttonMenu,
  .buttonReservation {
    padding: 14px;
    width: 160px;
    font-size: 20px;
  }

  .buttonMenu:hover {
    color: #f7f0f5;
    background: #d91023;
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
  }

  .buttonOrder:hover {
    background: #68b1f5;
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
  }

  .buttonReservation:hover {
    background: #040404;
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
  }
}