#home {
  padding: 0;
  height: 650px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  background: #f7f0f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerSlider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.slideShow {
  width: 100%;
  height: 100%;
  display: flex;
}

.slide {
  border: 2px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  text-align: center;
  justify-content: space-evenly;
  padding: 20px 0;
  background: #f7f0f5;
}

.slide:nth-child(1) {
  background: linear-gradient(to bottom, #040404b4, #0404049c), url(../img/plato1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.slide:nth-child(2) {
  background: linear-gradient(to bottom, #040404b4, #0404049c), url(../img/plato2.png);
  background-repeat: no-repeat;
  background-size: cover;

}

.slide:nth-child(3) {
  background: linear-gradient(to bottom, #040404b4, #0404049c), url(../img/plato3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.slide:nth-child(4) {
  background: linear-gradient(to bottom, #040404b4, #0404049c), url(../img/plato1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.flag {
  width: 38px;
  height: 38px;
  margin: 0 8px;
}



.slide h1 {
  font-size: 40px;
  margin-bottom: 16px;
  font-weight: bolder;
  color: #f7f0f5;
  width: 80%;
  line-height: 50px;
}

.slide p {
  font-size: 18px;
  line-height: 28px;
  color: #f7f0f5;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
}

.buttonOrder,
.buttonMenu,
.buttonReservation {
  padding: 6px;
  width: 120px;
  font-size: 16px;
  text-align: center;
  border: 2px solid #f7f0f5;
}

.buttonMenu {
  background: #da1025cc;
  border: 2px solid #040404;
}

.buttonOrder {
  background: #66b0f5cc;
  border: 2px solid #040404;
}

.buttonReservation {
  background: #050505b3;
  color: #f7f0f5;
}


@media screen and (min-width:480px) {
  .slide h1 {
    font-size: 42px;
  }

  .slide p {
    font-size: 20px;
  }

  .flag {
    width: 60px;
    height: 60px;
  }

  .buttonOrder,
  .buttonMenu,
  .buttonReservation {
    padding: 10px;
    width: 140px;
    font-size: 18px;
  }
}

@media screen and (min-width:768px) {
  #home {
    height: 850px;
  }

  .slide h1 {
    font-size: 54px;
    line-height: 68px;
  }

  .slide p {
    font-size: 36px;
    line-height: 48px;
    width: 60%;
  }

  .flag {
    width: 80px;
    height: 80px;
  }

  .buttonOrder,
  .buttonMenu,
  .buttonReservation {
    padding: 14px;
    width: 160px;
    font-size: 20px;
  }

  .buttonMenu:hover {
    color: #f7f0f5;
    border-color: #f7f0f5;
    background: #d91023;
    box-shadow: 0 0 6px #da1025cc;
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
  }

  .buttonOrder:hover {
    background: #68b1f5;
    box-shadow: 0 0 6px #66b0f5cc;
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
  }

  .buttonReservation:hover {
    background: #040404;
    box-shadow: 0 0 6px #050505b3;
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
  }
}